*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

h1 {
    color: white;
    font-size: 2.5rem;
}

input {
    height: 2rem;
    width: 90%;
    padding: 0 1rem;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 6px;
}

#match-list {
    
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}
.country {
    background-color: rgb(32, 32, 32);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: white;
}
.country h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.code {
    color: rgb(0, 162, 255);
    font-weight: bold;
    font-size: 18px;
}